.word_input {
  height: 40px;
  width: 100%;
  padding: 0 37px;
  outline: none;
  background: 0 0;
  border: solid 1px #9b9b9b;
  border-radius: 30px;
  font-size: 1em;
  font-weight: 300;
  color: #21252b;
  box-sizing: border-box;
  margin:5px 0;
}
